*{
    margin: 0;
    border: 0;
    text-decoration: none;
    color: #3F979B;
}

:root {
    --primary-color: #F9F54B;
    --secondary-color: #8BF5FA;
    --tertiary-color: #3F979B;
    --hover-color: #205E61;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);

}
.logo {
    display: flex;
    justify-content: left;   
    
}

.title {
    text-align: center;
    font-size: 32px;
    margin-left: 470px;
  }
  

.body {
    width: 1424px;
    height: 924px;
    box-sizing: border-box;
    color: var(--tertiary-color);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--primary-color);    
    color: var(--secondary-color);
}

.container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    width: 135%;
}

.container__caixa {
    display: flex;
    flex-direction: column; /* estrutura da Caixa de texto */
    margin: 0;
    padding: 30px;
    justify-self: center;
    align-self: center;
    background-color: var(--primary-color);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center buttons horizontally */
    gap: 28px;
    align-items: flex-end;
    border-radius: 20px;
}

.texto__original {
    border: 2px solid var(--tertiary-color);
    width: 280px;
    height: 400px;
    line-height: 150%;
    text-align: left;
    background-color: inherit;
    outline: none; /* * Permanece a cor da borda que eu coloquei ao ser clickado */
}
.button__criptografar {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;
    width: 130px;
    height: 50px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}

.texto__criptografado {
    border: 2px solid var(--tertiary-color);
    width: 280px;
    height: 400px;
    line-height: 150%;
    text-align: left;
    outline: none;
    background-color: inherit;
}
 .button__descriptografar {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;
    width: 130px;
    height: 50px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    
}

.button__copiar {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;
    width: 130px;
    height: 50px;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: Inter;
    text-align: center;
}

@media (max-width: 1000px) {

    .title {
        margin-left: 110px;
        font-size: 20px;
        color: var(--tertiary-color);
    }
    .logo {
        display: flex;
        margin-right: 300px;
        width: 70px;
        height: 40px;
    }
    .body {
        width: 70%;
        height: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__caixa {
        margin: 0px 0;
    }
    .texto__original {
        width: 100%;
        height: 250px;
    }
    .texto__criptografado {
        width: 100%;
        height: 250px;
    }
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    .button__criptografar {
        width: 100%;
    }
    .button__descriptografar {
        margin-bottom: 20px;
        width: 100%;
    }
    .button__copiar {
        width: 100%;
    }
    .rodape {
        position: relative;
        margin-left: 45px;
    }

}